// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
@import './loader.scss';

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.caret {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .155em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;

    &.down {
        transform: rotate(0deg);
    }

    &.up {
        transform: rotate(180deg);
    }
}

.dataformat-row {
    margin-bottom: 15px;
    .dropdown {
        display: inline-block;
        margin-right: 10px;
    }
}

.flex-checkbox-center {
    align-self: center;

    .form-check-input {
        margin-top: .4rem;
    }
}

.table-settings-container {
    justify-content: space-between;
    margin-bottom: 10px;
}
